/* .main{
    font-size: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */
.header {
    background-color: red;
    height: 2cm;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.center {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 1%;
}

.aside1 {
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    width: 30%;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 20px;
}

.para {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border-radius: 20px;
}

.aside2 {
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    width: 35%;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 20px;
}

.footer {
    background-color: red;
    height: 2cm;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}